<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">New Era</a>
</nav>

<br><br>
    

<div class="container">
  <mat-tab-group>
    <mat-tab label="Users"> 

      <br><br>

      <div class="mat-elevation-z8">
          <button (click)="openAddUserstDial()" class="styleAdd"mat-flat-button><span class="add-col">+ Add </span></button>
          <table mat-table [dataSource]="dataUsersSource">  

          <ng-container matColumnDef="id">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> ID. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="username">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> User Name </th>
              <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>

          <ng-container matColumnDef="national_id">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> National ID </th>
              <td mat-cell *matCellDef="let element"> {{element.national_id}} </td>
          </ng-container>

          <ng-container matColumnDef="phone_number">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Phone Number </th>
              <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
          </ng-container>

          <ng-container matColumnDef="actions" >
            <th class="custom-header-row" mat-header-cell *matHeaderCellDef id="trr" > Actions </th>
            <td mat-cell *matCellDef="let element" align="center">
              <button mat-icon-button  matTooltip="Update User" (click)="updateUser(element.id)" >
                <mat-icon>edit</mat-icon>
                   </button>   &nbsp;
                <button mat-icon-button matTooltip="Delete Users" (click)="deleteUser(element.id)">
                   <mat-icon>delete</mat-icon>
                </button>  
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedUserColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedUserColumns;"></tr>
          </table>
      
          <mat-paginator  #paginator [pageSizeOptions]="[5, 10, 20]"
                      showFirstLastButtons
                      aria-label="Select page of periodic elements">
          </mat-paginator>
      </div>


 
  </mat-tab>



    <mat-tab label="Houses"> 
        <br><br>

        <div class="mat-elevation-z8">
            <button (click)="openAddHousestDial()" class="styleAdd"mat-flat-button><span class="add-col">+ Add </span></button>
            <table mat-table [dataSource]="dataHousesSource">
        
       
            <ng-container matColumnDef="id">
                <th mat-header-cell class="custom-header-row" *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
     
            <ng-container matColumnDef="house_number">
                <th mat-header-cell class="custom-header-row" *matHeaderCellDef> House Number </th>
                <td mat-cell *matCellDef="let element"> {{element.house_number}} </td>
            </ng-container>
        
       
            <ng-container matColumnDef="due_date">
                <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Due Date </th>
                <td mat-cell *matCellDef="let element"> {{element.due_date}} </td>
            </ng-container>

            
            <ng-container matColumnDef="last_reading">
                <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Last Reading </th>
                <td mat-cell *matCellDef="let element"> {{element.last_reading}} </td>
            </ng-container>
        
        
            <ng-container matColumnDef="rent_amount">
                <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Rent Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.rent_amount}} </td>
            </ng-container>
            <ng-container matColumnDef="actions" >
              <th class="custom-header-row" mat-header-cell *matHeaderCellDef id="trr" > Actions </th>
              <td mat-cell *matCellDef="let element" align="center">
                <button mat-icon-button  matTooltip="Update House Details" (click)="updateHouses(element.id)"  >
                  <mat-icon>edit</mat-icon>
                     </button>   &nbsp;
                  <button mat-icon-button matTooltip="Delete House" (click)="deleteHouses(element.id)">
                     <mat-icon>delete</mat-icon>
                  </button>  
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedHosesColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedHosesColumns;"></tr>
            </table>
        
            <mat-paginator #paginator2  [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons
                        aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
      
    </mat-tab>

    <mat-tab label="Receipts"> 
      <br><br>
      <div class="mat-elevation-z8">
          <button  (click)="openAddReceiptDial()" class="styleAdd"mat-flat-button><span class="add-col" >+ Add </span></button>
          <table mat-table [dataSource]="dataReceiptSource">
      
     
          <ng-container matColumnDef="receipt_number">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Receipt Number. </th>
              <td mat-cell *matCellDef="let element"> {{element.receipt_number}} </td>
          </ng-container>
      
   
          <ng-container matColumnDef="total_amount">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Total Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.total_amount}} </td>
          </ng-container>
      
     
          <ng-container matColumnDef="monthly_rent">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Monthly Rent </th>
              <td mat-cell *matCellDef="let element"> {{element.monthly_rent}} </td>
          </ng-container>
      
      
          <ng-container matColumnDef="rental_deposit">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Rental Deposit </th>
              <td mat-cell *matCellDef="let element"> {{element.rental_deposit}} </td>
          </ng-container>

          <ng-container matColumnDef="electricity_deposit">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Electiricty Deposit. </th>
              <td mat-cell *matCellDef="let element"> {{element.electricity_deposit}} </td>
          </ng-container>
      
   
          <ng-container matColumnDef="electricity_bill">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Electricity Bill </th>
              <td mat-cell *matCellDef="let element"> {{element.electricity_bill}} </td>
          </ng-container>
      
     
          <ng-container matColumnDef="water_deposit">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Water Deposit </th>
              <td mat-cell *matCellDef="let element"> {{element.water_deposit}} </td>
          </ng-container>
      
      
          <ng-container matColumnDef="water_bill">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Water Bill </th>
              <td mat-cell *matCellDef="let element"> {{element.water_bill}} </td>
          </ng-container>

          <ng-container matColumnDef="service_charge">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Service Charge. </th>
              <td mat-cell *matCellDef="let element"> {{element.service_charge}} </td>
          </ng-container>
      
   
          <ng-container matColumnDef="security_charge">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Security Charge </th>
              <td mat-cell *matCellDef="let element"> {{element.security_charge}} </td>
          </ng-container>
      
     
          <ng-container matColumnDef="previous_balance">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Previous Balance </th>
              <td mat-cell *matCellDef="let element"> {{element.previous_balance}} </td>
          </ng-container>
      
      
          <ng-container matColumnDef="date_issued">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Date Issued </th>
              <td mat-cell *matCellDef="let element"> {{element.date_issued | date: 'dd MMM yyyy, h:mm a' }} </td>
          </ng-container>

          <ng-container matColumnDef="other_charges">
              <th mat-header-cell class="custom-header-row" *matHeaderCellDef> Other Charges. </th>
              <td mat-cell *matCellDef="let element"> {{element.other_charges}} </td>
          </ng-container>

          <ng-container matColumnDef="actions" >
            <th class="custom-header-row" mat-header-cell *matHeaderCellDef id="trr" > Actions </th>
            <td mat-cell *matCellDef="let element" align="center">
           
              <button mat-icon-button matTooltip="Generate Receipt" (click)="generateReceipt(element);openReceiptReview()">
                <mat-icon>receipt</mat-icon>
              </button>   &nbsp;
              <button mat-icon-button  matTooltip="Update Receipt" (click)="getReceiptId(element)" >
                <mat-icon>edit</mat-icon>
                   </button>   &nbsp;
                <button mat-icon-button matTooltip="Delete Receipt" (click)="deleteReceipt(element)" >
                   <mat-icon>delete</mat-icon>
                </button>  
          
            </td>
            
          </ng-container>
      

      
          <tr mat-header-row *matHeaderRowDef="displayedReceiptColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedReceiptColumns;"></tr>
          </table>
      
          <mat-paginator #paginator3 [pageSizeOptions]="[5, 10, 20]"
                      showFirstLastButtons
                      aria-label="Select page of periodic elements">
          </mat-paginator>
      </div>
  </mat-tab>

</mat-tab-group>
</div>



  


  

<ng-template #addReceiptDialog>
    <div class="dialog-header">
      <h2 matDialogTitle>Add Receipt</h2> 
      <mat-icon matDialogClose class="closeIcon">close</mat-icon> 
    </div>

    <form [formGroup]="receiptForm" (ngSubmit)="submitReceiptForm()" class="rental-form">

      <div class="container-fluid">
        <div class="row">
  
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Client</mat-label>
              <mat-select formControlName="client">
                <mat-option *ngFor="let user of dataUsersSource.data" [value]="user.id">
                  {{ user.username }}
                </mat-option>
              </mat-select>
            </mat-form-field>


          </div>
          <div class="col-md-4">

            <mat-form-field appearance="outline">
              <mat-label>House</mat-label>
              <mat-select formControlName="house">
                <mat-option *ngFor="let user of dataHousesSource.data" [value]="user.id" (click)="getHouseDetails(user.id)">
                  {{ user.house_number }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Monthly Rent</mat-label>
              <input matInput type="number" formControlName="monthly_rent"  />
              <mat-hint>Enter monthly rent amount</mat-hint>
            </mat-form-field>
         
          </div>


        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Other Charges</mat-label>
              <input matInput type="number" formControlName="other_charges" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Rental Deposit</mat-label>
              <input matInput type="number" formControlName="rental_deposit" />
              <mat-hint>Deposit required before moving in</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Electricity Deposit</mat-label>
              <input matInput type="number" formControlName="electricity_deposit" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Electricity Bill</mat-label>
              <input matInput type="number" formControlName="electricity_bill" />
            </mat-form-field>
          </div>  
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Water Deposit</mat-label>
              <input matInput type="number" formControlName="water_deposit" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Water Bill</mat-label>
              <input matInput type="number" formControlName="water_bill" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Service Charge</mat-label>
              <input matInput type="number" formControlName="service_charge" />
            </mat-form-field>
          </div>
          <div class="col-md-4">  
            <mat-form-field appearance="outline">
              <mat-label>Security Charge</mat-label>
              <input matInput type="number" formControlName="security_charge" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Previous Balance</mat-label>
              <input matInput type="number" formControlName="previous_balance" />
            </mat-form-field>
          </div>
        </div>
 
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Previous Water Reading</mat-label>
              <input matInput type="number" formControlName="previous_water_reading" (change)="calculateWaterBill()" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Current Water Reading</mat-label>
              <input matInput type="number" formControlName="current_water_reading" (change)="calculateWaterBill()" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Water Bill</mat-label>
              <input matInput type="number" formControlName="water_bill"  />
            </mat-form-field>
          </div>
        </div>
        
      </div>

      <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="receiptForm.invalid || loadReceiptForm">Submit</button>
    </form>

</ng-template>


<ng-template #addHouseDialog>
  <div class="dialog-header">
    <h2 matDialogTitle>Houses</h2> 
    <mat-icon matDialogClose class="closeIcon">close</mat-icon> 
  </div>
  <form [formGroup]="houseForm" (ngSubmit)="submitHouseForm()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>House Number</mat-label>
            <input matInput type="text" formControlName="house_number" (change)="checkHouseNumber()" />
            <mat-hint *ngIf="houseForm.controls['house_number'].invalid && houseForm.controls['house_number'].touched" class="error">
              House number is required (Alphanumeric).
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Rent Amount</mat-label>
            <input matInput type="number" formControlName="rent_amount" />
            <mat-hint *ngIf="houseForm.controls['rent_amount'].invalid && houseForm.controls['rent_amount'].touched" class="error">
              Rent amount must be at least 1000.
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Due Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="due_date"   [matDatepickerFilter]="futureDatesOnly" />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint *ngIf="houseForm.controls['due_date'].invalid && houseForm.controls['due_date'].touched" class="error">
              Please select a valid future date.
            </mat-hint>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Water Reading</mat-label>
            <input matInput type="text" formControlName="last_reading" />
            <mat-hint *ngIf="houseForm.controls['last_reading'].invalid && houseForm.controls['last_reading'].touched" class="error">
              Water Reading is required
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
       
        </div>

      </div>
    </div>
 
    <button mat-raised-button color="primary" type="submit" class="submit" [disabled]="houseForm.invalid || loadHousesForm">Submit</button>
  </form>
  <br>
</ng-template>

<ng-template #addUsersDialog>
  <div class="dialog-header">
    <h2 matDialogTitle>Users</h2> 
    <mat-icon matDialogClose class="closeIcon">close</mat-icon> 
    
  </div>
  <form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" />
            <mat-hint *ngIf="userForm.controls['username'].invalid && userForm.controls['username'].touched" class="error">
              Username must be at least 3 characters long.
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>National ID</mat-label>
            <input matInput type="text" formControlName="national_id" (change)="checkUserIdNumber()" />
            <mat-hint *ngIf="userForm.controls['national_id'].invalid && userForm.controls['national_id'].touched" class="error">
              National ID must be exactly 8 digits.
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput type="text" formControlName="phone_number" (change)="checkUserPhoneNumber()" />
            <mat-hint *ngIf="userForm.controls['phone_number'].invalid && userForm.controls['phone_number'].touched" class="error">
              Phone number must start with "01" or "07" and have 10 digits.
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid || loadUserForm" class="submit">Submit</button>
    <br> <br>
  </form>
 
</ng-template>



  


  <br><br>


  

  <ng-template #receiptPreviewDialog>
    <div class="dialog-header">
      <h2 matDialogTitle>Receipt Preview</h2> 
      <mat-icon matDialogClose class="closeIcon">close</mat-icon> 
    </div>
    <div #receiptPreview class="receipt-container">
      <h2 style="text-align: center;">New Era Apartments</h2>
      <div class="container-fluid" style="width: 100%;">
        <div class="row">
          <div class="col-6">
            <p><strong>Receipt No:</strong> {{ receipt?.receipt_number }}</p>
            <p><strong>Date:</strong> {{ formattedDate }}</p>
            <p><strong>Received From :</strong> {{ receiptClientName }}</p>
            <p><strong>Apartment No:</strong> {{ houseNameNo }}</p>
          </div>
          <div class="col-6">
            <p><strong>Current Water Reading:</strong> {{ receipt?.current_water_reading  }}</p>
            <p><strong>Previous Water Reading:</strong> {{receipt?.previous_water_reading }}</p>
            <p><strong>Total Units:</strong> {{ (receipt?.current_water_reading) - receipt?.previous_water_reading }}</p>
          </div>
        </div>
      </div>
   
    
      <table border="1" width="100%">
        <thead>
          <tr>
            <th>Description</th>
            <th>Kshs</th>
            <th>Cts</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of receiptItems">
            <td>{{ item.label }}</td>
            <td>{{ item.amount | number }}</td>
            <td>00</td>
          </tr>
          <tr>
            <td><strong>Total</strong></td>
            <td><strong>{{ receipt.total_amount | number }}</strong></td>
            <td>00</td>
          </tr>
        </tbody>
      </table>
    </div> <br>
    
    <button mat-button (click)="generatePDF()">Download PDF</button>


    
  </ng-template>



  <ng-template #updateUserDialog>
    <div class="dialog-header">
      <h2 matDialogTitle>Update User </h2> 
      <mat-icon matDialogClose class="closeIcon">close</mat-icon> 
    </div>

      <form [formGroup]="userUpdateForm" (ngSubmit)="submitUserUpdateForm()">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username" />
                <mat-hint *ngIf="userUpdateForm.controls['username'].invalid && userUpdateForm.controls['username'].touched" class="error">
                  Username must be at least 3 characters long.
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>National ID</mat-label>
                <input matInput type="text" formControlName="national_id" (change)="checkUserIdNumber()" />
                <mat-hint *ngIf="userUpdateForm.controls['national_id'].invalid && userUpdateForm.controls['national_id'].touched" class="error">
                  National ID must be exactly 8 digits.
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput type="text" formControlName="phone_number" (change)="checkUserPhoneNumber()" />
                <mat-hint *ngIf="userUpdateForm.controls['phone_number'].invalid && userUpdateForm.controls['phone_number'].touched" class="error">
                  Phone number must start with "01" or "07" and have 10 digits.
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="userUpdateForm.invalid || loadUserUpdateForm" class="submit">Submit</button>
        <br> <br>
        </form>

  </ng-template>


  <ng-template #openUpdateHouseDial>
    <div class="dialog-header">
      <h2 matDialogTitle>Update Houses </h2> 
      <mat-icon matDialogClose class="closeIcon">close</mat-icon> 
    </div>
    <form [formGroup]="houseUpdateForm" (ngSubmit)="submitHouseUpdateForm()">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>House Number</mat-label>
              <input matInput type="text" formControlName="house_number" (change)="checkHouseNumber()" />
              <mat-hint *ngIf="houseUpdateForm.controls['house_number'].invalid && houseUpdateForm.controls['house_number'].touched" class="error">
                House number is required (Alphanumeric).
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Rent Amount</mat-label>
              <input matInput type="number" formControlName="rent_amount" />
              <mat-hint *ngIf="houseUpdateForm.controls['rent_amount'].invalid && houseUpdateForm.controls['rent_amount'].touched" class="error">
                Rent amount must be at least 1000.
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Due Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="due_date"   [matDatepickerFilter]="futureDatesOnly" />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint *ngIf="houseUpdateForm.controls['due_date'].invalid && houseUpdateForm.controls['due_date'].touched" class="error">
                Please select a valid future date.
              </mat-hint>
            </mat-form-field>
          </div>
  
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Water Reading</mat-label>
              <input matInput type="text" formControlName="last_reading" />
              <mat-hint *ngIf="houseUpdateForm.controls['last_reading'].invalid && houseUpdateForm.controls['last_reading'].touched" class="error">
                Water Reading is required
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-4">
  
          </div>
          <div class="col-md-4">
         
          </div>
  
        </div>
      </div>
   
      <button mat-raised-button color="primary" type="submit" class="submit" [disabled]="houseUpdateForm.invalid || loadHousesUpdateForm">Submit</button>
    </form>
</ng-template>


<ng-template #openUpdateReceiptDialog>
  <div class="dialog-header">
    <h2 matDialogTitle>Update Receipt </h2> 
    <mat-icon matDialogClose class="closeIcon">close</mat-icon> 
  </div>
  <form [formGroup]="receiptUpdateForm" (ngSubmit)="submitReceiptUpdateForm()" class="rental-form">

    <div class="container-fluid">
      <div class="row">
  
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Client</mat-label>
            <mat-select formControlName="client"  >
              <mat-option *ngFor="let user of dataUsersSource.data" [value]="user.id">
                {{ user.username }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
  
        </div>
        <div class="col-md-4">
  
          <mat-form-field appearance="outline">
            <mat-label>House</mat-label>
            <mat-select formControlName="house">
              <mat-option *ngFor="let user of dataHousesSource.data" [value]="user.id" (click)="getHouseDetails(user.id)">
                {{ user.house_number }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Monthly Rent</mat-label>
            <input matInput type="number" formControlName="monthly_rent"  />
            <mat-hint>Enter monthly rent amount</mat-hint>
          </mat-form-field>
       
        </div>
  
  
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Other Charges</mat-label>
            <input matInput type="number" formControlName="other_charges" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Rental Deposit</mat-label>
            <input matInput type="number" formControlName="rental_deposit" />
            <mat-hint>Deposit required before moving in</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Electricity Deposit</mat-label>
            <input matInput type="number" formControlName="electricity_deposit" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Electricity Bill</mat-label>
            <input matInput type="number" formControlName="electricity_bill" />
          </mat-form-field>
        </div>  
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Water Deposit</mat-label>
            <input matInput type="number" formControlName="water_deposit" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Water Bill</mat-label>
            <input matInput type="number" formControlName="water_bill" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Service Charge</mat-label>
            <input matInput type="number" formControlName="service_charge" />
          </mat-form-field>
        </div>
        <div class="col-md-4">  
          <mat-form-field appearance="outline">
            <mat-label>Security Charge</mat-label>
            <input matInput type="number" formControlName="security_charge" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Previous Balance</mat-label>
            <input matInput type="number" formControlName="previous_balance" />
          </mat-form-field>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Previous Water Reading</mat-label>
            <input matInput type="number" formControlName="previous_water_reading" (change)="calculateUpdatesWaterBill()" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Current Water Reading</mat-label>
            <input matInput type="number" formControlName="current_water_reading" (change)="calculateUpdatesWaterBill()" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Water Bill</mat-label>
            <input matInput type="number" formControlName="water_bill"  />
          </mat-form-field>
        </div>
      </div>
      
    </div>
  
    <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="receiptUpdateForm.invalid || loadReceiptUpdateForm">Submit</button>
  </form>
</ng-template>



<ng-template #deleteUserDial>
  <div class="dialog-header">
    <h2 matDialogTitle>Delete User </h2> 

    <mat-icon matDialogClose class="closeIcon">close</mat-icon> 
  </div>
  <p> &nbsp; &nbsp; &nbsp;Are you sure you want to delete User &nbsp; &nbsp; &nbsp; </p>
  <mat-dialog-actions align="end">
      <button mat-button matDialogClose="no">No</button>
      <button mat-button matDialogClose="yes">Yes</button>
  </mat-dialog-actions>
</ng-template>



<ng-template #deleteHouseDial>
  <div class="dialog-header">
    <h2 matDialogTitle>Delete House </h2> 

    <mat-icon matDialogClose class="closeIcon">close</mat-icon> 
  </div>
  <p> &nbsp; &nbsp; &nbsp;Are you sure you want to delete House &nbsp; &nbsp; &nbsp; </p>
  <mat-dialog-actions align="end">
      <button mat-button matDialogClose="no">No</button>
      <button mat-button matDialogClose="yes">Yes</button>
  </mat-dialog-actions>
</ng-template>


<ng-template #deleteReceiptDial>
  <div class="dialog-header">
    <h2 matDialogTitle>Delete Receipt </h2> 

    <mat-icon matDialogClose class="closeIcon">close</mat-icon> 
  </div>
  <p> &nbsp; &nbsp; &nbsp;Are you sure you want to delete Receipt &nbsp; &nbsp; &nbsp; </p>
  <mat-dialog-actions align="end">
      <button mat-button matDialogClose="no">No</button>
      <button mat-button matDialogClose="yes">Yes</button>
  </mat-dialog-actions>
</ng-template>