table.mat-table {
    width: 100%;
    box-shadow: none !important;
    box-shadow: none;
}

::ng-deep.mat-paginator-page-size {
    right: 0;
    top:-2.5rem;
    display: flex;
    align-items: baseline;
    position: absolute;

}

::ng-deep .mat-paginator-range-actions {
    right: 0;
    /* position: absolute; */
}

tr.mat-header-row{
    height: 3rem;
}
.custom-header-row {
    border-bottom: 1px solid #404040; 
    border-top: 1px solid #404040;
}

tr.mat-row{
    height: 3rem;
}

.mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .closeIcon {
    cursor: pointer;
    font-size: 24px;
  }
  

  .submit{
    background-color: #1e9aa7 ; 
    float: right;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

}